* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

h1 {
  text-align: center;
  color: steelblue;
  font-size: 3em;
  font-weight: 600;
}

#accordion {
  margin: auto;
  width: 40em;
}

#accordion li {
  list-style: none;
  width: 100%;
  margin-bottom: 1em;
  background: beige;
  overflow: hidden;
}

#accordion li label {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
  color: blueviolet;
}

#accordion li label span {
  transform: rotate(45deg);
  font-size: 1em;
  color: #333;
  transition: transform 0.3s ease-in-out;
}

#accordion label + input[type="radio"] {
  display: none;
}

.content {
  margin: auto;
  display: flex;
  align-items: center;
}

.content img {
  margin: auto;
}

#accordion .content {
  max-height: 0;
  transition: max-height 0.5s;
}

#accordion li:hover label span,
#accordion input[type="radio"]:checked + label span {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

#accordion label:hover + input[type="radio"] + .content,
#accordion input[type="radio"]:checked + .content {
  max-height: 20em;
}

@media only screen and (max-width: 767px) {
  #accordion {
    width: 100%;
  }

  #accordion li label {
    font-size: 1.5em;
  }

  .content img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #accordion {
    width: 80%;
  }

  #accordion li label {
    font-size: 2em;
  }

  .content img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  #accordion {
    width: 60%;
  }

  #accordion li label {
    font-size: 2.5em;
  }

  .content img {
    max-width: 80%;
  }
}
