* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

h1 {
  text-align: center;
  color: rgb(83, 0, 116);
  font-size: 3em;
  font-weight: 600;
}

#accordion {
  margin: auto;
  width: 40em;
}

#accordion li {
  list-style: none;
  width: 100%;
  margin-bottom: 1em;
  background: beige;
  overflow: hidden;
}

#accordion li label {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
  color: blueviolet;
  border-top: solid blueviolet 0.05em;
}

#accordion input[type="radio"] {
  display: none;
  pointer-events: none;
}

.content {
  margin: auto;
  display: flex;
  align-items: center;
}

.content img {
  margin: auto;
}

#accordion .content {
  max-height: 0;
  transition: max-height 0.5s;
}

@media only screen and (max-width: 767px) {
  #accordion {
    width: 100%;
  }

  #accordion li label {
    font-size: 1.5em;
  }

  .content img {
    max-width: 100%;
  }

  #accordion input[type="radio"]:checked ~ label span {
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out;
  }

  #accordion input[type="radio"]:checked ~ .content {
    max-height: 20em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #accordion {
    width: 80%;
  }

  #accordion li label {
    font-size: 2em;
  }

  .content img {
    max-width: 100%;
  }

  #accordion input[type="radio"]:checked ~ label span {
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out;
  }

  #accordion input[type="radio"]:checked ~ .content {
    max-height: 20em;
  }
}

@media only screen and (min-width: 1200px) {
  #accordion {
    width: 60%;
  }

  #accordion li label {
    font-size: 2.5em;
  }

  .content img {
    max-width: 80%;
  }

  #accordion li:hover label span,
  #accordion input[type="radio"]:checked ~ label span {
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out;
  }

  #accordion:hover label,
  #accordion input[type="radio"]:checked ~ label {
    color: black;
  }

  #accordion .wrapper {
    cursor: pointer;
  }

  #accordion .wrapper input[type="radio"] {
    pointer-events: none;
  }

  #accordion .wrapper:hover .content,
  #accordion input[type="radio"]:checked ~ .content {
    max-height: 20em;
  }
}
